{% unless section.settings.disable_announcement_bar %}
 <div class="announcement-bar-section color-{{ section.settings.color_scheme }} gradient {% if section.settings.disable_announcement_bar_mobile %} hide-mobile {% endif %}">
   <div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}">
     <div class="row">
  <!-- Vertical Style -->
  {%  if section.settings.announcement_bar_style == 'vertical' %}    
  <vertical-bar>
    {%- if section.settings.show_social -%}
            <ul class="announcement_list-social list-unstyled list-social" role="list">
              {% render 'social-icons' %}
            </ul>
      {%- endif -%}
   <div class="announcement_bar_style-{{ section.settings.announcement_bar_style }} announcement-bar-wrapper marquee">
   <div class="marquee__content swiper-container enable-vertical-marquee">
      <div class="swiper-wrapper">
         {%- for block in section.blocks -%}
            {%- case block.type -%}
               {%- when 'announcement' -%}
                  <div class="swiper-slide">
                     <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
                        {%- if block.settings.text != blank -%}
                           
                           <p class="announcement-bar__message ">
                              {{ block.settings.text | escape }}
                          <span>
                            {%- if block.settings.link != blank -%}
                              <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                                 {{ block.settings.link_text | escape  }}
                                </a>
                            {%- endif -%}
                          </span>
                           </p>
                       {%- endif -%}
                       
                        
                     </div>
                  </div>
            {%- endcase -%}
         {%- endfor -%}
      </div>
       <div class="swiper-button-next1 vertical-marquee-next"><svg class="icon icon-caret" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
<path stroke="currentcolor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" d="M3,5.5l5,5l5-5"></path>
</svg></div>
    <div class="swiper-button-prev1 vertical-marquee-prev"><svg class="icon icon-caret" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
<path stroke="currentcolor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" d="M3,5.5l5,5l5-5"></path>
</svg></div>
   </div>
  
</div>
     
    </vertical-bar>
<script>
  class verticalBar extends HTMLElement {
  constructor() {
    super();
    this.container = document.querySelector('.enable-vertical-marquee');
    // Initialize Swiper
    this.mySwiper = new Swiper(this.container, {
       direction: 'vertical',
   loop: true,
   navigation: {
      nextEl: '.vertical-marquee-next',
      prevEl: '.vertical-marquee-prev',
   },
   autoplay: {
      delay: 3000,
      disableOnInteraction: false,
   },
   speed: 1000, 
    });
  }
}
customElements.define('vertical-bar', verticalBar);  
</script>
 {%- endif -%}
<!-- Horizontal Style -->
  {%  if section.settings.announcement_bar_style == 'horizontal' %}  
<div class="announcement_bar_style-{{ section.settings.announcement_bar_style }} announcement-bar-wrapper marquee   ">
<div class="marquee__content">
 <div class="marquee_annoucement list-inline">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    
      <div class="announcement-bar " role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        
        {%- if block.settings.text != blank -%}
           <p class="announcement-bar__message "> {{ block.settings.text | escape }}
              <span>
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                     {{ block.settings.link_text | escape  }}
                    </a>
                {%- endif -%}
              </span>
            </p>
           {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}
 </div>
   <div class="marquee_annoucement list-inline">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    
      <div class="announcement-bar  " role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
       {%- if block.settings.text != blank -%}
           <p class="announcement-bar__message"> {{ block.settings.text | escape }}
              <span>
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                     {{ block.settings.link_text | escape  }}
                    </a>
                {%- endif -%}
              </span>
            </p>
           {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}
 </div>
</div>
</div>
{% endif %}
   </div>
  </div>
 </div>
{% endunless %}

{%- style -%}
{%  if section.settings.announcement_bar_style == 'vertical' %} 
  .announcement_bar_style-vertical .swiper-container {
   height: 35px; 
}
.announcement_bar_style-vertical .swiper-container {
   flex-direction: column;
}

.vertical-marquee-next, .vertical-marquee-prev { 
   font-size: var(--font-base-size); 
   margin: 0; 
  cursor: pointer;
  top:0;bottom:0;margin:auto;
  z-index:1;width:10px;height:10px;
}

.vertical-marquee-prev{
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
}
.vertical-marquee-prev svg{  transform: rotate(90deg);transition:all 0.3s linear;}
.vertical-marquee-next{
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
}
.vertical-marquee-next svg{transform: rotate(-0.25turn);transition:all 0.3s linear;}  
.announcement_bar_style-vertical  .marquee__content .swiper-slide{display:flex;align-items:center;justify-content:center;}
.announcement-bar-wrapper{align-items: center;position: relative;overflow:hidden;}
.vertical-marquee-next:hover svg, .vertical-marquee-prev:hover svg{color:rgba(var(--color-link-hover));}
@media screen and (min-width: 991px) {
  .announcement-bar-wrapper{padding:0 88px;}
}
{% endif %}  

{%- if section.settings.show_social -%}
  vertical-bar{display: grid;width: 100%;gap: 20px;grid-template-columns:  1fr auto 1fr;}
  vertical-bar .announcement_list-social.list-social{display:flex;margin:auto 0;align-items: center;justify-content: flex-start;border-radius: 50%; }
  vertical-bar .announcement_list-social.list-social .list-social__link{padding:0px;border: 1px solid ; color: rgb(var(--color-foreground)); border-radius: 50%; width:20px; height:20px; display:flex; justify-content:center;    align-items: center;}
  vertical-bar .announcement_list-social.list-social .list-social__item .icon{width:10px;height:10px;transition:all 0.3s linear; color: rgb(var(--color-foreground));}
  vertical-bar .announcement_list-social.list-social .list-social__item:not(:last-child){margin-right:10px;}
  vertical-bar .announcement_list-social.list-social .list-social__link:hover,
  vertical-bar .announcement_list-social.list-social .list-social__link:hover .icon{color:rgba(var(--color-link-hover));}
  @media screen and (max-width: 990px) {
  vertical-bar{grid-template-columns:  1fr;padding:10px 0;gap:10px;}
  vertical-bar .announcement_list-social.list-social{justify-content:center;}  
  }
{%- endif -%}
  
   @media screen and (max-width: 990px) {
  {% if section.settings.disable_announcement_bar_mobile %}
    .announcement-bar-section.hide-mobile{display:none;}
  {% endif %} }  
{%  if section.settings.announcement_bar_style == 'horizontal' %}   
  .announcement-bar-section .page-width .row{position:relative}
  .announcement-bar-section .page-width .row:before {
  left: 0;
  background: linear-gradient(to right, rgb(var(--color-background),0.8), transparent 100%);
}
.announcement-bar-section .page-width .row:after {
  right: 0;
  background: linear-gradient(to left, rgb(var(--color-background),0.8), transparent 100%);
}
.announcement-bar-section .page-width .row:before, .announcement-bar-section .page-width .row:after {
   position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 1;
}
.announcement-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      padding: 8px 0;
    border-bottom: 0.1rem solid rgba(var(--color-border));
} 
.marquee__content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}  
.marquee_annoucement  {animation: scroll-left 20s linear infinite;display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    min-width: 100%;}
.marquee__content:hover .marquee_annoucement {animation-play-state: paused;}
.announcement-bar {padding:0 5vw;}
.announcement-bar .announcement-bar__message{margin:0;padding:0}   
  
@keyframes scroll-left{0%{transform:translateX(0%);}100%{transform:translateX(-100%);}}
body.overflow-hidden #shopify-section-announcement-bar, body.overflow-hidden-mobile #shopify-section-announcement-bar{ z-index: 0;}
  body.overflow-hidden-tablet #shopify-section-announcement-bar { z-index: 0;  display: none;}  
  {% endif %}
.announcement-bar__message{ display: flex;align-items: center;flex-wrap:wrap;justify-content:center;}
.announcement-bar__link{margin:0 0 0 5px;color:rgba(var(--color-link));text-decoration:underline;}
.announcement-bar__link:hover{color:rgb(var(--color-link-hover));}  
{%- endstyle -%}



{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings":[
       {
     "type":"checkbox",
     "id":"page_full_width",
      "default": false,
     "label": "t:sections.all.page_full_width.label"
   },
   {
     "type":"checkbox",
     "id":"page_full_width_spacing",
      "default": false,
     "label": "t:sections.all.page_full_width_spacing.label"
   },
  {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
      {
  "type": "checkbox",
  "id": "disable_announcement_bar",
  "label": "t:sections.announcement-bar.settings.disable_announcement_bar.label",
  "default": false
  },
      {
  "type": "checkbox",
  "id": "disable_announcement_bar_mobile",
  "label": "t:sections.announcement-bar.settings.disable_announcement_bar_mobile.label",
  "default": false
  },    
     {
          "type": "select",
          "id": "announcement_bar_style",
          "options": [
            {
              "value": "vertical",
              "label": "t:sections.announcement-bar.settings.announcement_bar_style.options__1.label"
            },
            {
              "value": "horizontal",
              "label": "t:sections.announcement-bar.settings.announcement_bar_style.options__2.label"
            }            
          ],
          "default": "horizontal",
          "label": "t:sections.announcement-bar.settings.announcement_bar_style.label"
        },
    {
   "type": "checkbox",
   "id": "show_social",
   "default": false,
   "label": "t:sections.announcement-bar.settings.show_social.label",
   "info":"t:sections.announcement-bar.settings.show_social.info"
 }
  ],
   "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link_text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
